/* Check this. */
body {
    margin: 0;
    padding: 0;
    

}

.navi {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}











