body {
    margin: 0;
    
}

.img-grid {
    
    display: grid;
    /* /* fr element allows us to take 1/3 of the page , and split into 3 columns. */
    grid-template-columns: repeat(3 , 1fr);
   
   
   
}

.imgsize {
    outline-style: solid;
    outline-color: red;
    justify-self: stretch;

    /* max width - this will adjust the width so that
    the width will always adjust to that of the page.  */
    max-width: 100%;

/* Ask for explanation */
    height: auto;
}
